
<script src="~/lib/jquery/dist/jquery.min.js" />
<script type="text/jscript">
    BindGrid();
      $(document).ready(function () {



      })

</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<style>
    .form-inputs {
        padding: 40px;
        flex: 60%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        position: relative;
    }

    .form-btn {
        margin: 20px 0px;
        background-color: #f6fe00;
        color: black;
        padding: 10px 40px;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }

    .form-row {
        padding: 10px 0px;
        position: relative;
    }

    .form-row-field {
        color: #000000;
        position: absolute;
        pointer-events: none;
        transition: 0.5s;
        top: 10px;
        margin-left: 2em;
    }

    .form-row-field-input {
        background-color: inherit;
        display: block;
        top: 10px;
        transition: 0.5s;
        margin-left: 1.5em;
    }

        .form-row-field-input:focus ~ label, input:not(:placeholder-shown) ~ label {
            top: -5px;
            font-size: 12px;
            color: #9b91f5;
            font-weight: bold;
        }

    .fileCss {
        top: -11px;
        font-size: 14px;
        color: #000000;
        font-weight: bold;
    }
    .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active{
        background-color : rgba(255,255,255,.9) !important;
    }
</style>
 

 <div class="card card-info">
              <div class="card-header">
                <h3 class="card-title">Summary Report</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div class="form-horizontal">
                <div class="card-body">
                   <div class="row">
                    <div class="col-sm-3">
                      <!-- text input -->
                      <div class="form-group">
                        <label>From Date</label>
                        <input type="date" class="form-control" id="txtfromdate" placeholder="" />
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>To Date</label>
                        <input  type="date" class="form-control" id="txttodate" placeholder="" />
                      </div>
                    </div>
                    <div class="col-sm-3">
                      <div class="form-group">
                        <label>SubAccount</label>
                        <select id="ddlVehicle" class="form-control">
                          <option selected value = "0">Select</option> 
                        </select>
                      </div>
                    </div>
                    <div class="col-sm-3">
                     <div class="form-group">
                        <label>Currency</label>
                        <select id="ddlCurrency"  class="form-control"> 
                                            <option value="1">AED</option>
                                            <option value="2">USD</option>
                        </select>
                      </div>
                       
                    </div>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                  <button   class="btn btn-info" onclick="Report()">Go</button> 
                </div>
                <!-- /.card-footer -->
              </div>
            </div>
<script src="/js/CommonFunction.js"></script>       
<script>
     $(document).ready(function () { 
        BindVechilemaster() 
  })
   async function BindVechilemaster()
        {
   var url = '@Url.Action("Gettransactiontype", "SummaryReport")'; 
            var data = await callController(url, data);
            console.log(data.ReportTemp) 
            $.each(data.reportTemp, function (res, value) {
                $("#ddlVehicle").append($("<option></option>").val(value).html(value));
            })
            
        } 

   async function Report() {
        var fromdate = document.getElementById("txtfromdate").value;
        var Type = document.getElementById("ddlVehicle").value;
        var Currency = document.getElementById("ddlCurrency").value;
        if (fromdate == "0" || fromdate== "") {
            alert("please enter the from date")
            return false;
        }
        var todate = document.getElementById("txttodate").value;
        if (todate == "0" || todate == "") {
            alert("please enter the to date")
            return false;
        }
        if (Currency == "0" || Currency == "") {
            alert("please choose currency")
            return false;
        }
        //var url = '@Url.Action("getreport", "SummaryReport")';
        var data = {
             "FromDate": fromdate, "ToDate": todate,"Type":Type,"Currency":Currency
        };
        var url = '@Url.Action("SummaryReportPDF", "PrintPDF")'; 
    window.open(url + "?FromDate=" + fromdate+"&ToDate="+todate+"&Type="+Type+"&Currency="+Currency);
        data = await callController(url, data);

        console.log(data);
       



 

                     
    }
    </script>