<div class="Gridtable">
  <section class="">
      <div class="">
        <div class="Imgcontainer"> 
            <img class="CommanImage" src="/Images/36.jpg" />
            
            <div class="Righttext">SDM Office</div>
        </div> 
        </div> 
    </section> 
</div> 
